/*!
 * Bootstrap Modal
 *
 * Copyright Jordan Schroter
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.modal-open {
  overflow: hidden; }

/* add a scroll bar to stop page from jerking around */
.modal-open.page-overflow .page-container,
.modal-open.page-overflow .page-container .navbar-fixed-top,
.modal-open.page-overflow .page-container .navbar-fixed-bottom,
.modal-open.page-overflow .modal-scrollable {
  overflow-y: scroll; }

@media (max-width: 979px) {
  .modal-open.page-overflow .page-container .navbar-fixed-top,
  .modal-open.page-overflow .page-container .navbar-fixed-bottom {
    overflow-y: visible; } }
.modal-scrollable {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto; }

.modal {
  outline: none;
  position: absolute;
  margin-top: 0;
  top: 50%;
  overflow: visible;
  /* allow content to popup out (i.e tooltips) */ }

.modal.fade {
  top: -100%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
  -o-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
  transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out; }

.modal.fade.in {
  top: 50%; }

.modal-body {
  max-height: none;
  overflow: visible; }

.modal.modal-absolute {
  position: absolute;
  z-index: 950; }

.modal .loading-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-radius: 6px; }

.modal-backdrop.modal-absolute {
  position: absolute;
  z-index: 940; }

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.7;
  filter: alpha(opacity=70);
  background: #fff; }

.modal.container {
  width: 940px;
  margin-left: -470px; }

/* Modal Overflow */
.modal-overflow.modal {
  top: 1%; }

.modal-overflow.modal.fade {
  top: -100%; }

.modal-overflow.modal.fade.in {
  top: 1%; }

.modal-overflow .modal-body {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

/* Responsive */
@media (min-width: 1200px) {
  .modal.container {
    width: 1170px;
    margin-left: -585px; } }
@media (max-width: 979px) {
  .modal,
  .modal.container,
  .modal.modal-overflow {
    top: 1%;
    right: 1%;
    left: 1%;
    bottom: auto;
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important; }

  .modal.fade.in,
  .modal.container.fade.in,
  .modal.modal-overflow.fade.in {
    top: 1%;
    bottom: auto; }

  .modal-body,
  .modal-overflow .modal-body {
    position: static;
    margin: 0;
    height: auto !important;
    max-height: none !important;
    overflow: visible !important; }

  .modal-footer,
  .modal-overflow .modal-footer {
    position: static; } }
.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -12px; }

/*
Animate.css - http://daneden.me/animate
Licensed under the ☺ license (http://licence.visualidiot.com/)

Copyright (c) 2012 Dan Eden*/
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0); }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px); }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px); } }
@-moz-keyframes shake {
  0%, 100% {
    -moz-transform: translateX(0); }

  10%, 30%, 50%, 70%, 90% {
    -moz-transform: translateX(-10px); }

  20%, 40%, 60%, 80% {
    -moz-transform: translateX(10px); } }
@-o-keyframes shake {
  0%, 100% {
    -o-transform: translateX(0); }

  10%, 30%, 50%, 70%, 90% {
    -o-transform: translateX(-10px); }

  20%, 40%, 60%, 80% {
    -o-transform: translateX(10px); } }
@keyframes shake {
  0%, 100% {
    transform: translateX(0); }

  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px); }

  20%, 40%, 60%, 80% {
    transform: translateX(10px); } }
.shake {
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake; }

.cf:before,
.cf:after {
  *zoom: 1; }
  .cf:before,
  .cf:after {
    content: " ";
    display: table; }
  .cf:after {
    clear: both; }

/* Fluid Grid
-----------------
*/
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* =============================================================================
   Links
   ========================================================================== */
/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
button, input {
  line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */
button[disabled], input[disabled] {
  cursor: default; }

/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0; }

.ir br {
  display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
body {
  width: 100%;
  float: left; }

body {
  font: 100%/1.5 "Raleway", sans-serif;
  color: #011f40; }

/* HEADINGS */
h1, h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif;
  color: #3c3c3c; }

h1 {
  margin: 0 0 1em 0;
  font-size: 41px;
  font-weight: 300;
  line-height: 1.2;
  color: #011f40; }

/* PARAGRAPH */
p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 1em;
  color: #3c3c3c; }

a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none; }
  a:focus {
    text-decoration: none; }
  a:hover {
    color: #505050;
    text-decoration: none; }

/* LISTS */
ul {
  padding: 0;
  list-style: none; }

.mainnav {
  top: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .mainnav ul {
    float: right; }
    .mainnav ul li {
      float: left; }
      .mainnav ul li a {
        color: #3c3c3c;
        padding: 3em 1em;
        display: inline-block; }
        .mainnav ul li a:hover, .mainnav ul li a.active {
          color: #fbad18;
          text-decoration: none; }
        .mainnav ul li a.telephone {
          font-weight: 800;
          color: #fbad18; }

/* General styles for all menus */
.cbp-spmenu {
  background: #3c3c3c;
  position: fixed; }

.cbp-spmenu h3 {
  color: #afdefa;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #0d77b6; }

.cbp-spmenu a {
  display: block;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300; }

.cbp-spmenu a:hover {
  background: #258ecd; }

.cbp-spmenu a:active {
  background: #afdefa;
  color: #47a3da; }

/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000; }

.cbp-spmenu-vertical a {
  padding: 1em; }

.cbp-spmenu-horizontal {
  width: 100%;
  height: 150px;
  left: 0;
  z-index: 1000;
  overflow: hidden; }

.cbp-spmenu-horizontal h3 {
  height: 100%;
  width: 20%;
  float: left; }

.cbp-spmenu-horizontal a {
  float: left;
  width: 20%;
  padding: 0.8em;
  border-left: 1px solid #258ecd; }

/* Vertical menu that slides from the left or right */
.cbp-spmenu-left {
  left: -240px; }

.cbp-spmenu-right {
  right: -240px; }

.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px; }

.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px; }

/* Horizontal menu that slides from the top or bottom */
.cbp-spmenu-top {
  top: -150px; }

.cbp-spmenu-bottom {
  bottom: -150px; }

.cbp-spmenu-top.cbp-spmenu-open {
  top: 0px; }

.cbp-spmenu-bottom.cbp-spmenu-open {
  bottom: 0px; }

/* Push classes applied to the body */
.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0; }

.cbp-spmenu-push-toright {
  left: 240px; }

.cbp-spmenu-push-toleft {
  left: -240px; }

/* Transitions */
.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

/* Example media queries */
@media screen and (max-width: 55.1875em) {
  .cbp-spmenu-horizontal {
    font-size: 75%;
    height: 110px; }

  .cbp-spmenu-top {
    top: -110px; }

  .cbp-spmenu-bottom {
    bottom: -110px; } }
@media screen and (max-height: 26.375em) {
  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px; }

  .cbp-spmenu-left,
  .cbp-spmenu-push-toleft {
    left: -190px; }

  .cbp-spmenu-right {
    right: -190px; }

  .cbp-spmenu-push-toright {
    left: 190px; } }
/* Animations */
.left-fast {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: left-fast;
  -moz-animation-name: left-fast;
  animation-name: left-fast;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease; }

.right-fast {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: right-fast;
  -moz-animation-name: right-fast;
  animation-name: right-fast;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease; }

.roll-in-left {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: roll-in-left;
  -moz-animation-name: roll-in-left;
  animation-name: roll-in-left;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease; }

.up {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: up;
  -moz-animation-name: up;
  animation-name: up;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease; }

.down {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: down;
  -moz-animation-name: down;
  animation-name: down;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease; }

.fade-in {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: fade-in;
  -moz-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease; }

.delay {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s; }

.delay2 {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s; }

/* KEYFRAMES */
@-webkit-keyframes left-fast {
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px; }

  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0; } }
@-moz-keyframes left-fast {
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px; }

  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0; } }
@-o-keyframes left-fast {
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px; }

  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0; } }
@keyframes left-fast {
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px; }

  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0; } }
@-webkit-keyframes right-fast {
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px; }

  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0; } }
@-moz-keyframes right-fast {
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px; }

  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0; } }
@-o-keyframes right-fast {
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px; }

  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0; } }
@keyframes right-fast {
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px; }

  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0; } }
@-webkit-keyframes roll-in-left {
  0% {
    opacity: 0;
    margin-left: -500px;
    -webkit-transform: rotateX(550deg); }

  100% {
    opacity: 1; } }
@-webkit-keyframes up {
  0% {
    bottom: -185px; }

  100% {
    bottom: 0px; } }
@-moz-keyframes up {
  0% {
    bottom: -185px; }

  100% {
    bottom: 0px; } }
@-o-keyframes up {
  0% {
    bottom: -185px; }

  100% {
    bottom: 0px; } }
@keyframes up {
  0% {
    bottom: -185px; }

  100% {
    bottom: 0px; } }
@-webkit-keyframes down {
  0% {
    bottom: 0px; }

  100% {
    bottom: -185px; } }
@-moz-keyframes down {
  0% {
    bottom: 0px; }

  100% {
    bottom: -185px; } }
@-o-keyframes down {
  0% {
    bottom: 0px; }

  100% {
    bottom: -185px; } }
@keyframes down {
  0% {
    bottom: 0px; }

  100% {
    bottom: -185px; } }
@-webkit-keyframes up-slow {
  from {
    top: 20px;
    opacity: 0;
    filter: alpha(opacity=0); }

  to {
    top: 0;
    opacity: 1;
    filter: alpha(opacity=100); } }
@-moz-keyframes up-slow {
  from {
    top: 20px;
    opacity: 0;
    filter: alpha(opacity=0); }

  to {
    top: 0;
    opacity: 1;
    filter: alpha(opacity=100); } }
@-o-keyframes up-slow {
  from {
    top: 20px;
    opacity: 0;
    filter: alpha(opacity=0); }

  to {
    top: 0;
    opacity: 1;
    filter: alpha(opacity=100); } }
@keyframes up-slow {
  from {
    top: 20px;
    opacity: 0;
    filter: alpha(opacity=0); }

  to {
    top: 0;
    opacity: 1;
    filter: alpha(opacity=100); } }
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }

  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }

  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }
@-o-keyframes fade-in {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }

  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }
@keyframes fade-in {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }

  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }
/* SENCHA ANIMATIONS */
/* Contact Form */
.main-form {
  position: relative; }

.main-form:before,
.main-form:after {
  content: " ";
  display: table; }

.main-form:after {
  clear: both; }

.main-form label {
  display: block;
  padding: 10px 5px 5px 2px;
  font-size: 1.1em;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  color: #3c3c3c; }

.main-form input,
.main-form textarea,
.main-form select {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  font-size: 18px;
  padding: 2px 10px;
  color: #3c3c3c;
  display: block;
  width: 100%;
  background: #ebebeb; }

.main-form input,
.main-form textarea {
  border: 0px;
  border-radius: 0 !important;
  padding: 1em;
  box-shadow: none;
  height: 80px;
  border: solid 1px transparent; }

.main-form textarea {
  min-height: 200px; }

.main-form input:focus,
.main-form textarea:focus,
.main-form label:active + input,
.main-form label:active + textarea {
  outline: none;
  border: 1px solid #3c3c3c !important;
  box-shadow: none; }

.main-form select:focus {
  outline: none; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #10689a;
  font-style: italic; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #10689a;
  font-style: italic; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #10689a;
  font-style: italic; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #10689a;
  font-style: italic; }

.cbp-mc-submit-wrap {
  text-align: center;
  padding-top: 40px;
  clear: both; }

.main-form input.cbp-mc-submit {
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  background: #011f40;
  border: none;
  color: white;
  width: 100%;
  cursor: pointer;
  display: inline-block;
  padding: 1em 5em;
  font-size: 1.1em;
  letter-spacing: 1px;
  margin: 1em 0;
  font-weight: 100; }

.main-form input.cbp-mc-submit:hover {
  background: #fbad18; }

#nospam, .nospam {
  display: none; }

.thumbs {
  width: 47%;
  margin: 1%;
  float: left; }
  .thumbs img {
    width: 100%; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* RESPONSIVE IMAGES */
body {
  padding: 0;
  margin: 0; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }
  .lt-ie9 img {
    width: auto; }

.test {
  text-decoration: underline; }

/* MAIN */
section {
  padding: 4em 2em; }
  section:after, section:before {
    display: table;
    line-height: 0;
    content: ""; }

.wrap {
  max-width: 940px;
  margin: auto; }
  .wrap:before, .wrap:after {
    content: "";
    display: table; }
  .wrap:after {
    clear: both; }

.logo img {
  width: 150px; }

.overlay {
  position: absolute;
  z-index: 1;
  width: 110%;
  height: 110%;
  top: 0;
  left: 0; }

.hero {
  padding: 0; }
  .hero h1 {
    color: #fbad18;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    line-height: 1;
    min-height: 90px; }
    .hero h1 span {
      color: white;
      font-size: 18px;
      font-weight: 400; }
  .hero .contain {
    padding: 3em 2em;
    background-size: cover;
    background-position: center; }

#showLeft {
  float: right;
  color: #3c3c3c;
  font-size: 24px;
  cursor: pointer;
  padding: 1em 0; }

.content {
  z-index: 500;
  position: relative; }

.capabilities {
  position: relative;
  padding: 0; }
  .capabilities .bug {
    padding: 21px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    display: none;
    position: absolute;
    z-index: 100;
    width: 213px;
    height: 213px;
    left: 50%;
    top: 50%;
    margin-top: -126.5px;
    margin-left: -106.5px;
    background: white; }
    .capabilities .bug span {
      font-size: 109px;
      padding: 31px 30px;
      border: solid 1px #ededed;
      display: inline-block;
      color: #ededed;
      -webkit-transition: 0.8s all;
      -moz-transition: 0.8s all;
      -ms-transition: 0.8s all;
      -o-transition: 0.8s all;
      transition: 0.8s all; }
  .capabilities ul {
    margin: 0; }
  .capabilities li {
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    background-size: cover;
    display: block; }
    .capabilities li .content {
      padding: 2em; }
    .capabilities li:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .capabilities li:nth-child(1n) {
      margin-right: 0;
      margin-bottom: 0; }
    .capabilities li h2 {
      -webkit-transition: 0.8s all;
      -moz-transition: 0.8s all;
      -ms-transition: 0.8s all;
      -o-transition: 0.8s all;
      transition: 0.8s all;
      margin: 0 0 10px 0;
      line-height: 1; }
    .capabilities li:nth-child(even) {
      text-align: right; }
    .capabilities li .overlay {
      -webkit-transition: 0.5s all;
      -moz-transition: 0.5s all;
      -ms-transition: 0.5s all;
      -o-transition: 0.5s all;
      transition: 0.5s all;
      background-color: rgba(1, 31, 64, 0.64); }
    .capabilities li h2 {
      color: #fbad18; }
    .capabilities li p {
      position: relative;
      top: 20px;
      -webkit-transition: 0.8s all;
      -moz-transition: 0.8s all;
      -ms-transition: 0.8s all;
      -o-transition: 0.8s all;
      transition: 0.8s all;
      font-size: 14px;
      line-height: 1.4;
      color: white; }

.slides {
  padding: 0;
  margin: 0; }

.work {
  padding: 0; }
  .work .wrap {
    padding: 2em 2em 0; }
  .work li {
    background-size: cover;
    position: relative;
    float: left;
    background-position: center;
    width: 100%;
    overflow: hidden; }
    .work li:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .work li:nth-child(1n) {
      margin-right: 0;
      margin-bottom: 0; }
    .work li:hover .content h3, .work li:hover .content p {
      top: 0;
      opacity: 1;
      filter: alpha(opacity=100); }
    .work li:hover .content p {
      -webkit-transition-delay: .2s;
      /* Safari */
      transition-delay: .2s; }
    .work li:hover .overlay {
      background-color: rgba(1, 31, 64, 0.64); }
  .work .content {
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    -ms-transition: 0.4s all;
    -o-transition: 0.4s all;
    transition: 0.4s all;
    position: relative;
    padding: 5em 0;
    text-align: center; }
    .work .content h3 {
      font-size: 26px;
      color: #fbad18;
      margin: 0;
      font-weight: 300;
      top: 20px; }
    .work .content p {
      color: rgba(255, 255, 255, 0.7);
      font-style: italic;
      -webkit-transition-delay: 0;
      /* Safari */
      transition-delay: 0; }
  .work .overlay {
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    -ms-transition: 0.4s all;
    -o-transition: 0.4s all;
    transition: 0.4s all;
    background-color: rgba(1, 31, 64, 0.64); }

.testimonials {
  background: url("/resources/img/testimonialBG.jpg") no-repeat;
  background-size: cover;
  padding: 2em;
  text-align: center;
  position: relative; }
  .testimonials .flex-control-nav {
    bottom: 20px;
    display: none; }
  .testimonials .flex-control-paging li a {
    width: 15px;
    height: 15px; }
  .testimonials .flex-control-paging li a.flex-active {
    background-color: #fbad18; }
  .testimonials .content {
    width: 100%;
    margin: auto;
    display: inline-block; }
  .testimonials p {
    font-size: 14px;
    color: white;
    display: inline;
    line-height: 1.4; }
  .testimonials p.byline {
    color: #fbad18;
    display: block;
    font-style: italic; }
  .testimonials .slides .content:before {
    content: '\201C';
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    color: #fbad18;
    font-weight: 800;
    position: absolute;
    top: 80px;
    left: -80px; }

.clients {
  padding: 0; }
  .clients .wrap {
    padding: 2em;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: #ededed; }

.about img {
  max-height: 412px; }
.about h3 {
  color: #fbad18;
  font-size: 37px;
  font-style: italic;
  margin: 1em 0;
  font-weight: 400; }
.about .span6:last-child {
  padding-top: 1em;
  border-top: 1px solid #ededed;
  margin-top: 1em; }
.about .connect a {
  display: inline-block;
  font-size: 24px;
  color: #919191 !important;
  margin-right: .5em; }
  .about .connect a:hover {
    color: #fbad18 !important; }

.mainnav {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  background: white;
  z-index: 1001;
  position: fixed;
  padding: 0 2em; }
  .mainnav .logo {
    padding: 1em 0;
    display: inline-block; }

/* FOOTER */
footer {
  background: #2e2e2e;
  padding: 1em 2em; }
  footer p {
    color: white;
    font-size: 14px; }

/* BUTTON */
/* SELECT */
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px; }

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #3c3c3c;
  width: 100%;
  height: 80px; }

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ebebeb;
  padding: 25px 15px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  .select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #3c3c3c transparent transparent transparent;
    position: absolute;
    top: 34px;
    right: 10px; }
  .select-styled:hover {
    background-color: #e6e6e6; }
  .select-styled:active, .select-styled.active {
    background-color: #dedede; }
    .select-styled:active:after, .select-styled.active:after {
      top: 9px;
      border-color: transparent transparent #3c3c3c transparent; }

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #dedede;
  height: 150px;
  overflow: scroll; }
  .select-options li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid #d2d2d2;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -ms-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in; }
    .select-options li:hover {
      color: #ebebeb;
      background: #3c3c3c; }
    .select-options li[rel="hide"] {
      display: none; }

.modal {
  max-width: 700px;
  width: 90%;
  background-color: transparent;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  -moz-background-clip: padding-box; }
  .modal .modal-body {
    max-height: none; }
  .modal p, .modal h3, .modal .close {
    color: white; }
  .modal h1 {
    color: #7BACE2; }
  .modal .close {
    opacity: 1;
    filter: alpha(opacity=100); }
  .modal h3 {
    font-weight: 100;
    color: #fbad18; }
  .modal hr {
    opacity: 0.2;
    filter: alpha(opacity=20);
    margin: 2em 0; }

.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.98;
  filter: alpha(opacity=98);
  background-color: #010615; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
  font-family: 'flexslider-icon';
  src: url("fonts/flexslider-icon.eot");
  src: url("fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("fonts/flexslider-icon.woff") format("woff"), url("fonts/flexslider-icon.ttf") format("truetype"), url("fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  zoom: 1; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.flexslider .slides {
  zoom: 1; }

.carousel li {
  margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease; }

.flex-direction-nav .flex-prev {
  left: -50px; }

.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right; }

.flexslider:hover .flex-prev {
  opacity: 0.7;
  left: 10px; }

.flexslider:hover .flex-next {
  opacity: 0.7;
  right: 10px; }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default; }

.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001'; }

.flex-direction-nav a.flex-next:before {
  content: '\f002'; }

/* Pause/Play */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }

.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004'; }

.flex-pauseplay a:hover {
  opacity: 1; }

.flex-pauseplay a.flex-play:before {
  content: '\f003'; }

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px; }

  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px; } }
@media (min-width: 480px) {
  .work li {
    width: 50%; }
    .work li:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .work li:nth-child(2n) {
      margin-right: 0;
      margin-bottom: 0; } }
@media (min-width: 768px) {
  section {
    padding: 4em 2em; }

  .work .wrap {
    padding: 4em 0; }

  footer {
    padding: 2em 2em; }

  .clients .wrap {
    padding: 4em 2em; }

  .hero h1 {
    font-size: 60px;
    max-height: 707px; }
    .hero h1 span {
      font-size: 35px; }
  .hero .contain {
    padding: 6em 2em;
    background-size: cover; }

  .capabilities .content {
    min-height: 230px; }
  .capabilities li {
    width: 50%; }
    .capabilities li .overlay {
      background-color: rgba(0, 0, 0, 0.6); }
    .capabilities li:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .capabilities li:nth-child(2n) {
      margin-right: 0;
      margin-bottom: 0; }
    .capabilities li:nth-child(3n+2) .overlay {
      background-color: rgba(1, 31, 64, 0.4); }

  .testimonials {
    padding: 6em 0; }
    .testimonials .content {
      width: 70%; }
    .testimonials .flex-control-nav {
      display: block; }
    .testimonials p {
      font-size: 25px; }
    .testimonials .byline {
      font-size: 18px;
      line-height: 1; }
    .testimonials .slides .content:before {
      font-size: 220px; }

  .about .span6:last-child {
    padding: 0;
    margin-top: 0;
    border: 0; }

  .work li {
    width: 50%; }
    .work li:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .work li:nth-child(2n) {
      margin-right: 0;
      margin-bottom: 0; } }
@media (min-width: 1025px) {
  .work {
    padding: 0; }
    .work .wrap {
      padding: 2em 2em 0; }
    .work li {
      background-size: cover;
      position: relative;
      float: left;
      width: 33.33333%;
      overflow: hidden; }
      .work li:nth-child(n) {
        margin-bottom: 0;
        margin-right: 0; }
      .work li:nth-child(3n) {
        margin-right: 0;
        margin-bottom: 0; }
      .work li:hover .content h3, .work li:hover .content p {
        top: 0;
        opacity: 1;
        filter: alpha(opacity=100); }
      .work li:hover .content p {
        -webkit-transition-delay: .2s;
        /* Safari */
        transition-delay: .2s; }
      .work li:hover .overlay {
        background-color: rgba(1, 31, 64, 0.64); }
    .work .content {
      -webkit-transition: 0.4s all;
      -moz-transition: 0.4s all;
      -ms-transition: 0.4s all;
      -o-transition: 0.4s all;
      transition: 0.4s all;
      position: relative;
      padding: 7em 5em;
      text-align: center; }
      .work .content h3, .work .content p {
        -webkit-transition: 0.4s all;
        -moz-transition: 0.4s all;
        -ms-transition: 0.4s all;
        -o-transition: 0.4s all;
        transition: 0.4s all;
        opacity: 0;
        filter: alpha(opacity=0);
        position: relative; }
      .work .content h3 {
        font-size: 20px;
        color: #fbad18;
        margin: 0;
        font-weight: 300;
        top: 20px; }
      .work .content p {
        top: 20px;
        color: rgba(255, 255, 255, 0.7);
        font-style: italic;
        -webkit-transition-delay: 0;
        /* Safari */
        transition-delay: 0; }
    .work .overlay {
      -webkit-transition: 0.4s all;
      -moz-transition: 0.4s all;
      -ms-transition: 0.4s all;
      -o-transition: 0.4s all;
      transition: 0.4s all;
      background-color: rgba(251, 173, 24, 0.4); }

  .capabilities {
    position: relative;
    padding: 0; }
    .capabilities .bug {
      display: inline-block; }
      .capabilities .bug span {
        font-size: 109px;
        padding: 31px 30px;
        border: solid 1px #ededed;
        display: inline-block;
        color: #ededed;
        -webkit-transition: 0.8s all;
        -moz-transition: 0.8s all;
        -ms-transition: 0.8s all;
        -o-transition: 0.8s all;
        transition: 0.8s all; }
    .capabilities ul {
      margin: 0; }
    .capabilities li {
      width: 50%;
      float: left;
      overflow: hidden;
      position: relative;
      background-size: cover;
      display: block; }
      .capabilities li:nth-child(odd) .overlay {
        background-color: rgba(255, 255, 255, 0.5); }
      .capabilities li:nth-child(even) .overlay {
        background-color: rgba(255, 255, 255, 0.5); }
      .capabilities li .content {
        padding: 2em 8.5em;
        min-height: 276px; }
      .capabilities li:nth-child(n) {
        margin-bottom: 0;
        margin-right: 0; }
      .capabilities li:nth-child(2n) {
        margin-right: 0;
        margin-bottom: 0; }
      .capabilities li h2 {
        -webkit-transition: 0.8s all;
        -moz-transition: 0.8s all;
        -ms-transition: 0.8s all;
        -o-transition: 0.8s all;
        transition: 0.8s all;
        color: white; }
      .capabilities li:nth-child(even) {
        text-align: right; }
      .capabilities li .overlay {
        background-color: rgba(255, 255, 255, 0.9);
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -ms-transition: 0.5s all;
        -o-transition: 0.5s all;
        transition: 0.5s all; }
      .capabilities li p {
        position: relative;
        opacity: 0;
        filter: alpha(opacity=0);
        top: 20px;
        -webkit-transition: 0.8s all;
        -moz-transition: 0.8s all;
        -ms-transition: 0.8s all;
        -o-transition: 0.8s all;
        transition: 0.8s all;
        font-size: 16px;
        min-height: 110px; }
      .capabilities li:hover .overlay {
        background-color: rgba(1, 31, 64, 0.64); }
      .capabilities li:hover p {
        opacity: 1;
        filter: alpha(opacity=100);
        top: 0;
        color: white; }
      .capabilities li:hover h2 {
        color: #fbad18; }
      .capabilities li:hover .bug span {
        color: #fbad18; }

  .logo img {
    width: 250px; }

  .hero .contain {
    padding: 8em 0; } }
/* @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  @import "2x";
} */
