<section class="about" id="about">
            <div class="row-fluid wrap">
                <h1>Who we are</h1>
                <div class="row-fluid">
                    [[!getResources? &parents=`11` &limit=`0` &tpl=`ditto-about` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &includeContent=`1` &sortby=`{'menuindex' : 'ASC'}`]]
                </div>
            </div>
        </section>