<section class="capabilities" id="capabilities">
    <ul class="row-fluid">
        <div class="bug"><span class="ico-light"></span></div>
        [[!getResources? &parents=`4` &limit=`0` &tpl=`ditto-capability` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &includeContent=`1` &sortby=`{'menuindex' : 'ASC'}`]]
        
    </ul>
</section>