<section class="clients visible-desktop">
                            <div class="row-fluid wrap">
                                <h1>Who we work with</h1>
                                <img src="[[*clients]]" alt="">
                            </div>
                        </section>