<footer>
            <div class="row-fluid wrap">
                
                <p>&copy;[[!getDate:date=`%Y`]] Maxwell Liebl&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;[[++primary-email]]&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;1312 Locust Street, Suite 300, Des Moines, IA 50309&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;[[++primary-tele]]</p>
            </div>
        </footer>
    </div>