<section class="hero">
            <ul class="slides">
                <li>
                    <div class="contain" style="background-image:url('resources/img/hero1.jpg')">
                        <div class="wrap row-fluid">
                            <h1><span>Smart Creative</span><br>Sound Strategy</h1>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="contain" style="background-image:url('resources/img/hero2.jpg')">
                        <div class="wrap row-fluid">
                            <h1><span>Integrated solutions</span><br>Bold Experiences</h1>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="contain" style="background-image:url('resources/img/hero3.jpg')">
                        <div class="wrap row-fluid">
                            <h1><span>efficient and effective</span><br>MARKETING MANAGEMENT</h1>
                        </div>
                    </div>
                </li>
            </ul>
        </section>