<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
            
            <ul>
                    <li><a href="#capabilities">Capabilities</a></li>
                    <li><a href="#about">Who we are</a></li>
                    <li><a href="#work">Featured Work</a></li>
                    <li><a href="#contact">Work with us</a></li>
                    <li><a class="telephone" href="tel:[[++primary-tele]]">[[++primary-tele]]</a></li>
                </ul>
        </nav>
        <nav class="mainnav">
            <div class="row-fluid wrap">
                <a href="" class="logo"><img src="resources/img/logo.png" alt=""></a>
                <ul class="visible-desktop">
                    <li><a href="#capabilities">Capabilities</a></li>
                    <li><a href="#about">Who we are</a></li>
                    <li><a href="#work">Featured Work</a></li>
                    <li><a href="#contact">Work with us</a></li>
                    <li><a class="telephone" href="tel:[[++primary-tele]]">[[++primary-tele]]</a></li>
                </ul>
                <a class="ico-menu hidden-desktop" id="showLeft"></a>
            </div>
        </nav>