<section class="testimonials">
    <div class="row-fluid wrap testimonial">
        <ul class="slides">
            [[!getResources? &parents=`9` &limit=`0` &tpl=`ditto-testimonial` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &includeContent=`1` &sortby=`RAND()`]]
        </ul>
    </div>
</section>