<section class="work" id="work">
    [[!getResources? &parents=`14` &limit=`0` &tpl=`ditto-work-item-modal` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &includeContent=`1` &sortby=`{'menuindex' : 'ASC'}`]]
    
            <div class="wrap">
                <h1>Featured work</h1>
            </div>
            <ul class="row-fluid">
                [[!getResources? &parents=`14` &limit=`0` &tpl=`ditto-work-item` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &includeContent=`1` &sortby=`menuindex`]]
                
            </ul>
        </section>