 [[!FormIt?
    &hooks=`spam, sendGrid, email`
     &emailFrom=`[[++primary-email]]`
       &emailTpl=`snt-from`
       &emailTo=`justin.lobaito@weloideas.com,[[++primary_email]]`
       &emailSubject=`Contact Form Submission`
    &validate=`phone:required,  first_name:required, last_name:required,  email:required, email:email, comments:required:stripTags, nospam:blank`
      &successMessage=`<div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h3>Thank you for getting in contact with us.</h3>
      <p>We will get back to you shortly!</p>
    </div>` 
      

    ]]

   [[!+fi.validation_error_message:!empty=`


<div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
		<div>
		      <strong><h3>Please review the following errors:</h3></strong>
		            [[!+fi.error.first_name:!empty=`<p>First Name is required</p>`]]
		            [[!+fi.error.last_name:!empty=`<p>Last Name is required</p>`]]
		            [[!+fi.error.email:!empty=`<p>Email Address is required</p>`]]
		            [[!+fi.error.phone:!empty=`<p>Phone Number is required</p>`]]
					[[!+fi.error.comments:!empty=`<p>Additional Comments is required</p>`]]

		</div>
</div>


`]]
    [[!+fi.successMessage]]


                   <form class="main-form row-fluid" action="[[~[[*id]]]]#contact" method="post" id="contact"  >
                        
                            <div class="row-fluid">
                                <div class="span4">
                                    <label for="first_name">First Name<sup>*</sup></label>
                                    <input type="text" value="[[!+fi.first_name]]" id="first_name" name="first_name"  placeholder="Jonathan">
                                </div>
                                <div class="span4">
                                    <label for="last_name">Last Name<sup>*</sup></label>
                                    <input type="text" value="[[!+fi.last_name]]" id="last_name" name="last_name"  placeholder="Doe">
                                </div>
                                <div class="span4">
                                    <label for="email">Email Address<sup>*</sup></label>
                                    <input type="text" value="[[!+fi.email]]" id="email" name="email"   placeholder="jon@doe.com">
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span6">
                                    <label for="phone">Phone<sup>*</sup></label>
                                    <input type="text" value="[[!+fi.phone]]" id="phone" name="phone"   placeholder="999-999-9999">
                                </div>
                                <div class="span6">
                                    <label for="service">I am interested in help with:</label>
                                    <select id="service" name="service" value="[[!+fi.service]]">
                                        <option value="hide">-- Please select an option --</option>
                                        <option value="Creative">Creative</option>
                                        <option value="Agency representation">Agency representation</option>
                                        <option value="Website design">Website design</option>
                                        <option value="Marketing review">Marketing review</option>
                                        <option value="General Inquiry">General Inquiry</option>
                                    </select>

                                </div>
                            </div>
                            <input value="[[!+fi.nospam]]" type="text" id="nospam" name="nospam" class="nospam">
                            <label for="comments">Additional Comments<sup>*</sup></label>
                            <textarea value="[[!+fi.comments]]" id="comments" name="comments"></textarea>
                            <div class="row-fluid">
                                <div class="span4">
                                    <input class="cbp-mc-submit" type="submit" value="Send along" />
                                </div>
                            </div>
                            
                    </form>
                  