        <script src="resources/js/production.js"></script>

        <script>
            $(document).ready(function(){

                

            })
        </script>
        <script>
        $(window).load(function() {
                    $('.testimonials').flexslider({
                        controlNav: true,
                        directionNav: false,
                    });
                    $('.hero').flexslider({
                        controlNav: false,
                        directionNav: false,
                        });

                  });
        </script> 
        <script>
            var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
                menuRight = document.getElementById( 'cbp-spmenu-s2' ),
                menuTop = document.getElementById( 'cbp-spmenu-s3' ),
                menuBottom = document.getElementById( 'cbp-spmenu-s4' ),
                showLeft = document.getElementById( 'showLeft' ),
                showRight = document.getElementById( 'showRight' ),
                showTop = document.getElementById( 'showTop' ),
                showBottom = document.getElementById( 'showBottom' ),
                showLeftPush = document.getElementById( 'showLeftPush' ),
                showRightPush = document.getElementById( 'showRightPush' ),
                body = document.body;

            showLeft.onclick = function() {
                classie.toggle( this, 'active' );
                classie.toggle( menuLeft, 'cbp-spmenu-open' );
                disableOther( 'showLeft' );
            };
            function disableOther( button ) {
                if( button !== 'showLeft' ) {
                    classie.toggle( showLeft, 'disabled' );
                }
                if( button !== 'showRight' ) {
                    classie.toggle( showRight, 'disabled' );
                }
                if( button !== 'showTop' ) {
                    classie.toggle( showTop, 'disabled' );
                }
                if( button !== 'showBottom' ) {
                    classie.toggle( showBottom, 'disabled' );
                }
                if( button !== 'showLeftPush' ) {
                    classie.toggle( showLeftPush, 'disabled' );
                }
                if( button !== 'showRightPush' ) {
                    classie.toggle( showRightPush, 'disabled' );
                }
            }
        </script>  

    </body>
</html>