<footer>
            <div class="row-fluid wrap">
                
                <p>©2015 Maxwell Liebl&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;info@maxwellliebl.com&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;10550 New York Ave., Suite 104 Urbandale, Iowa&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;(515)778-8533</p>
            </div>
        </footer>