[[$doc_head]]
    <body>
        <div class="page-container">
        [[$navigation]]
        [[$home-hero]]
        [[$home-capabilities]]
        <section>
            <div class="row-fluid wrap">
                <h1>Your marketing: simplified</h1>
                <div class="row-fluid">
                    <p>[[*content]]</p>
                </div>
            </div>
        </section>
        [[$home-testimonials]]
        [[$home-about]]
        [[$home-clients]]
        [[$home-work]]
        [[$home-contact]]
        [[$footer]]
[[$doc_footer]]
