<div class="span6">
	<img src="[[+headshot]]" alt="">
	<h3>[[+pagetitle]]</h3>
	[[+content]]
	<div class="connect">
		<a href="[[+linkedin]]" target="_blank" class="ico-linkedin"></a><a href="mailto:[[+email]]" class="ico-envelop"></a>
	</div>
</div>