<div class="modal hide fade" id="[[+pagetitle:lcase:replace=` ==`:replace=`/==`:replace=`'==`]]">
  <div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h1>[[+pagetitle]]</h1>
    [[+content]]
  </div>
</div>