<li style="background-image:url('[[+background-image]]')">
	<a href="#[[+pagetitle:lcase:replace=` ==`:replace=`/==`:replace=`'==`]]" data-toggle="modal">
		<div class="content">
			<h3>[[+pagetitle]]</h3>
			<p>[[+service]]</p>
		</div>
		<div class="overlay"></div>
	</a>
</li>