.work {
  padding: 0;
  .wrap {
    padding: 2em 2em 0;
  }
  li {
    background-size:cover;
    position: relative;
    float: left;
    @include rowGrid(3,0);
    overflow:hidden;
    &:hover {
      .content {
        h3,p {
          top:0;
          @include opacity(1)
        }
        p{
          -webkit-transition-delay: .2s; /* Safari */
    transition-delay: .2s;
        }
      }
      .overlay {
        background-color:rgba($neutral, .64);
      }
    }
  }
  .content {
    @include transition(.4s all);
    position: relative;
    padding:7em 5em;
    text-align: center;
    h3,p {
    @include transition(.4s all);
    @include opacity(0);
      position: relative;

    }
    h3 {
      font-size:20px;
      color:$secondary;
      margin: 0;
      font-weight: 300;
      top:20px;
    }
    p {
      top:20px;
      color:rgba(white, .7);
      font-style: italic;
      -webkit-transition-delay: 0; /* Safari */
    transition-delay: 0;
    }
  }
  .overlay {
    @include transition(.4s all);
    background-color:rgba($secondary, .4);
  }
}

.capabilities {
  position: relative;
  padding: 0;
  .bug {
    display: inline-block;
    span {

      font-size:109px;
      padding:31px 30px;
      border:solid 1px $ultralight;
      display: inline-block;
      color:$ultralight;
      @include transition(.8s all);
    }

  }
  ul {
    margin: 0;
  }
  li {
    &:nth-child(odd){
      .overlay {
        background-color:rgba(white,.5);
      }
    }
    &:nth-child(even){
      .overlay {
        background-color:rgba(white,.5);
        
      }
    }
    .content {
      padding:2em 8.5em;
      min-height: 276px;
    }
    @include rowGrid(2,0);
    float:left;
    overflow:hidden;
    position: relative;
    background-size:cover;
    display: block;
    h2 {
      @include transition(.8s all);
      color:white;
    }
    &:nth-child(even){
      text-align: right;
    }
    .overlay {
      background-color:rgba(white,.9);
      @include transition(.5s all);
    }
    p {
      position:relative;
      @include opacity(0);
      top:20px;
      @include transition(.8s all);
      font-size: 16px;
    min-height: 110px;
    }
    &:hover {
      .overlay {
      background-color:rgba($neutral,.64);
        
      }
      p {
        @include opacity(1);
        top:0;
        color:white;
      }
      h2 {
        color:$secondary;
      }
      .bug {
        span {
          color:$secondary;
        }
      }
    }
  }
}

.logo {
  img {
    width:250px;
  }
}

.hero {
  .contain {
    padding:8em 0;
  }
}
