section {
	padding:4em 2em;
}

.work {
	.wrap {
		padding: 4em 0;
	}
	
}

footer {
	padding:2em 2em;
}

.clients {
	.wrap {
		padding:4em 2em;
	}
}



.hero {
  h1 {
    font-size: 60px;
    max-height: 707px;
    span {
      font-size: 35px;
    }
  }
  .contain {
    padding:6em 2em;
    background-size:cover;
  }
}


.capabilities {
	.content {
		min-height:230px;
	}
	li {
		.overlay {
			background-color:rgba(black, .6);
		}
		@include rowGrid(2,0);
		&:nth-child(3n+2){
			.overlay {
       		background-color:rgba($neutral, .4);
       		}

		}
	}
}





.testimonials {
	padding:6em 0;
	.content {
		width:70%;
	}
	 .flex-control-nav {
	 	display: block;
	 }
	 p {
	 	font-size: 25px;
	 }
	 .byline {
	 	font-size: 18px;
	 	line-height: 1;
	 }
	 .slides {
    .content {
    &:before {
    	font-size: 220px;
    }
}
}
}

.about {
	.span6 {
		&:last-child {
			padding: 0;
			margin-top: 0;
			border:0;
		}
	}
}


.work {
	li {
		@include rowGrid(2,0);
	}
}