* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cf:before,
.cf:after {
@extend %clearfix;
}
/* RESPONSIVE IMAGES */

body {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

.test {
  text-decoration: underline
}

/* MAIN */

section {
  padding:4em 2em;
  &:after, &:before {
    display: table;
  line-height: 0;
  content: "";
  }  
}

.wrap {
  max-width: 940px;
  margin:auto;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}

.logo {
  img {
    width:150px;
  }
}
.overlay {
  position: absolute;
  z-index:1;
  width:110%;
  height:110%;
  top:0;
  left:0;
}

.hero {
  padding:0;
  h1 {
    color:$secondary;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    line-height: 1;
    min-height: 90px;
    span {
      color:white;
      font-size: 18px;
      font-weight: 400;
    }
  }
  .contain {
    padding:3em 2em;
    background-size:cover;
    background-position:center;
  }
}
#showLeft {
  float:right;
  color:$primary;
  font-size: 24px;
  cursor:pointer;
  padding:1em 0;
}

.content {
  z-index:500;
  position: relative;
}

.capabilities {
  position: relative;
  padding: 0;
  .bug {
    padding: 21px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    display: none;
    position: absolute;
    z-index: 100;
    width: 213px;
    height: 213px;
    left:50%;
    top:50%;
    margin-top:-126.5px;
    margin-left:-106.5px;
    background:white;
    span {

      font-size:109px;
      padding:31px 30px;
      border:solid 1px $ultralight;
      display: inline-block;
      color:$ultralight;
      @include transition(.8s all);
    }

  }
  ul {
    margin: 0;
  }
  li {

   
    .content {
      padding:2em;
    }
    @include rowGrid(1,0);
    float:left;
    overflow:hidden;
    position: relative;
    background-size:cover;
    display: block;
    h2 {
      @include transition(.8s all);
      margin: 0 0 10px 0;
      line-height: 1;
    }
    &:nth-child(even){
      text-align: right;
    }
    .overlay {
      @include transition(.5s all);
      background-color:rgba($neutral, .64);
    }
    h2 {
      color:$secondary;
    }
    p {
      position:relative;
      top:20px;
      @include transition(.8s all);
      font-size: 14px;
      line-height: 1.4;
      color:white;
    }
  }
}

.slides {
  padding: 0;
  margin: 0;
}

.work {
  padding: 0;
  .wrap {
    padding: 2em 2em 0;
  }
  li {
    background-size:cover;
    position: relative;
    float: left;
    background-position: center;
    @include rowGrid(1,0);
    overflow:hidden;
    &:hover {
      .content {
        h3,p {
          top:0;
          @include opacity(1)
        }
        p{
          -webkit-transition-delay: .2s; /* Safari */
          transition-delay: .2s;
        }
      }
      .overlay {
        background-color:rgba($neutral, .64);
      }
    }
  }
  .content {
    @include transition(.4s all);
    position: relative;
    padding:5em 0;
    text-align: center;
    h3,p {

    }
    h3 {
      font-size:26px;
      color:$secondary;
      margin: 0;
      font-weight: 300;
      top:20px;
    }
    p {
      color:rgba(white, .7);
      font-style: italic;
      -webkit-transition-delay: 0; /* Safari */
    transition-delay: 0;
    }
  }
  .overlay {
    @include transition(.4s all);
    background-color:rgba($neutral, .64);
  }
}

.testimonials {
  background:url('/resources/img/testimonialBG.jpg') no-repeat;
  background-size: cover;
  padding:2em;
  text-align: center;
  position: relative;
  .flex-control-nav {
    bottom:20px;
    display: none;
  }
  .flex-control-paging li a {
    width:15px;
    height:15px;
  }
  .flex-control-paging li a.flex-active {
    background-color:$secondary;
  }
  .content {
    width:100%;
    margin:auto;
    display: inline-block;
  }
  p {
    font-size: 14px;
    color:white;
    display: inline;
    line-height: 1.4;
  }
  p.byline {
    color:#fbad18;
    display: block;
    font-style: italic;
  }
  .slides {
    .content {
    &:before {
      content:'\201C';
      font-size: 20px;
      font-family: $body;
      color:$secondary;
      font-weight: 800;
      position: absolute;
      top:80px;
      left:-80px;

    }
  }
  }


}

.clients {
  padding: 0;
  .wrap {
    padding:2em;
    border-top:solid 1px;
    border-bottom:solid 1px;
    border-color:$ultralight;
  }
}

.about {
  img {
    max-height: 412px;
  }
  h3 {
    color:$secondary;
    font-size: 37px;
    font-style: italic;
    margin: 1em 0;
    font-weight: 400;
  }
  .span6 {
    
    &:last-child {
      padding-top: 1em;
    border-top: 1px solid $ultralight;
    margin-top: 1em;
    }
  }
  .connect {
    a {
      display: inline-block;
      font-size: 24px;
      color:$light !important;
      margin-right: .5em;
      &:hover {
        color:$secondary !important;
      }
    }
  }
}

.mainnav {
  box-shadow:0 5px 10px rgba(black, .3);
  width:100%;
  background:white;
  z-index:1001;
  position: fixed;
  padding:0 2em;
  .logo {
    padding:1em 0;
    display: inline-block;
  }
}

/* FOOTER */

footer {
  background: #2e2e2e;
  padding:1em 2em;
  p {
    color:white;
    font-size: 14px;
  }
}

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}


/* SELECT */


$background: #e74c3c;
$select-color: $primary;
$select-background: #ebebeb;
$select-width: 100%;
$select-height: 80px; 

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: $select-color;
  height: $select-height;
  width:100%;
  @include viewport(sm){
    width:50%;
  }
}
.select-styled {
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $select-background;
  padding: 25px 15px;
  @include transition(all 0.2s ease-in);
  &:after {
    content:"";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: $select-color transparent transparent transparent;
    position: absolute;
    top: 34px;
    right: 10px;
  }
  &:hover {
    background-color: darken($select-background, 2);
  }
  &:active, &.active {
    background-color: darken($select-background, 5);
    &:after {
      top: 9px;
      border-color: transparent transparent $select-color transparent;
    }
  }
}

.select-options {
  display: none; 
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: darken($select-background, 5);
  height:150px;
  overflow:scroll;
  list-style: none;
  li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid darken($select-background, 10);
    @include transition(all 0.15s ease-in);
    &:hover {
      color: $select-background;
      background: $select-color;
    }
    &[rel="hide"] {
      display: none;
    }
  }
}
.modal {
  .modal-body {
    max-height: none;
  }
  
  max-width: 700px;
  width: 90%;
  
  background-color: transparent;
  box-shadow:none;
  border:0;
  border-radius:0;
  -moz-background-clip: padding-box;
  p, h3, .close {
    color:white;
  }
  h1 {
    color:#7BACE2;
  }
  .close  {
    @include opacity(1);
  }
  h3 {
    font-weight: 100;
    color:$secondary;
  }
  hr {
    @include opacity(.2);
    margin:2em 0;
  }
}

.modal-backdrop, .modal-backdrop.fade.in {
  @include opacity(.98);
  background-color: #010615;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}