body {
  font: 100%/1.5 $body;
  color: $neutral;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $primary;
}

h1 {
  margin: 0 0 1em 0;
  font-size: 41px;
  font-weight: 300;
  line-height: 1.2;
  color: $neutral;
}

/* PARAGRAPH */

p {
  font-family: $body;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 1em;
  color:$primary;
}

a {
  @include transition(all .3s);
  text-decoration: none;
  &:focus {
    text-decoration: none;
  }
  &:hover {
    color:$hover;
    text-decoration: none;
  }
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}