// COLOR PALETTE
$primary: #3c3c3c;
$secondary: #fbad18;
$highlight: #00254f;
$hover: #505050;
$neutral: #011F40;
$ultralight: #ededed;
$link: red;
$light:#919191;

// FONT STACKS
$heading: 'Raleway', sans-serif;
$body: 'Raleway', sans-serif;

