/* line 26, ../sass/_mixins.scss */
.cf:before,
.cf:after {
  *zoom: 1;
}
/* line 28, ../sass/_mixins.scss */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
/* line 32, ../sass/_mixins.scss */
.cf:after {
  clear: both;
}

/* Fluid Grid
-----------------
*/
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 18, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 20, ../sass/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 21, ../sass/_reset.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 33, ../sass/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 35, ../sass/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 37, ../sass/_reset.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* =============================================================================
   Links
   ========================================================================== */
/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 54, ../sass/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 61, ../sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 63, ../sass/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 65, ../sass/_reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 67, ../sass/_reset.scss */
dfn {
  font-style: italic;
}

/* line 69, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 71, ../sass/_reset.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 73, ../sass/_reset.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 76, ../sass/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 79, ../sass/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 81, ../sass/_reset.scss */
q {
  quotes: none;
}

/* line 82, ../sass/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 84, ../sass/_reset.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 87, ../sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 88, ../sass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 89, ../sass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 96, ../sass/_reset.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 97, ../sass/_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 98, ../sass/_reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 110, ../sass/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 116, ../sass/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 123, ../sass/_reset.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 130, ../sass/_reset.scss */
form {
  margin: 0;
}

/* line 131, ../sass/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 134, ../sass/_reset.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 141, ../sass/_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 149, ../sass/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 155, ../sass/_reset.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 163, ../sass/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 169, ../sass/_reset.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
/* line 175, ../sass/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 176, ../sass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 177, ../sass/_reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 183, ../sass/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 190, ../sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 194, ../sass/_reset.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 201, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 202, ../sass/_reset.scss */
td {
  vertical-align: top;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 210, ../sass/_reset.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 211, ../sass/_reset.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 214, ../sass/_reset.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 217, ../sass/_reset.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 220, ../sass/_reset.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 223, ../sass/_reset.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 226, ../sass/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 227, ../sass/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 228, ../sass/_reset.scss */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 236, ../sass/_reset.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 237, ../sass/_reset.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 238, ../sass/_reset.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 239, ../sass/_reset.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 240, ../sass/_reset.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 241, ../sass/_reset.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 242, ../sass/_reset.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 243, ../sass/_reset.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 244, ../sass/_reset.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 246, ../sass/_reset.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 247, ../sass/_reset.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 19, ../sass/_grid.scss */
body {
  width: 100%;
  float: left;
}

/* line 1, ../sass/_typography.scss */
body {
  font: 100%/1.5 "Raleway", sans-serif;
  color: #011f40;
}

/* HEADINGS */
/* line 8, ../sass/_typography.scss */
h1, h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif;
  color: #3c3c3c;
}

/* line 13, ../sass/_typography.scss */
h1 {
  margin: 0 0 1em 0;
  font-size: 41px;
  font-weight: 300;
  line-height: 1.2;
  color: #011f40;
}

/* PARAGRAPH */
/* line 23, ../sass/_typography.scss */
p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 1em;
  color: #3c3c3c;
}

/* line 31, ../sass/_typography.scss */
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}
/* line 34, ../sass/_typography.scss */
a:focus {
  text-decoration: none;
}
/* line 37, ../sass/_typography.scss */
a:hover {
  color: #505050;
  text-decoration: none;
}

/* LISTS */
/* line 44, ../sass/_typography.scss */
ul {
  padding: 0;
  list-style: none;
}

/* line 1, ../sass/_navigation.scss */
.mainnav {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 3, ../sass/_navigation.scss */
.mainnav ul {
  float: right;
}
/* line 5, ../sass/_navigation.scss */
.mainnav ul li {
  float: left;
}
/* line 7, ../sass/_navigation.scss */
.mainnav ul li a {
  color: #3c3c3c;
  padding: 3em 1em;
  display: inline-block;
}
/* line 11, ../sass/_navigation.scss */
.mainnav ul li a:hover, .mainnav ul li a.active {
  color: #fbad18;
  text-decoration: none;
}
/* line 15, ../sass/_navigation.scss */
.mainnav ul li a.telephone {
  font-weight: 800;
  color: #fbad18;
}

/* General styles for all menus */
/* line 25, ../sass/_navigation.scss */
.cbp-spmenu {
  background: #3c3c3c;
  position: fixed;
}

/* line 30, ../sass/_navigation.scss */
.cbp-spmenu h3 {
  color: #afdefa;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #0d77b6;
}

/* line 39, ../sass/_navigation.scss */
.cbp-spmenu a {
  display: block;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
}

/* line 46, ../sass/_navigation.scss */
.cbp-spmenu a:hover {
  background: #258ecd;
}

/* line 50, ../sass/_navigation.scss */
.cbp-spmenu a:active {
  background: #afdefa;
  color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */
/* line 57, ../sass/_navigation.scss */
.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

/* line 64, ../sass/_navigation.scss */
.cbp-spmenu-vertical a {
  padding: 1em;
}

/* line 68, ../sass/_navigation.scss */
.cbp-spmenu-horizontal {
  width: 100%;
  height: 150px;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

/* line 76, ../sass/_navigation.scss */
.cbp-spmenu-horizontal h3 {
  height: 100%;
  width: 20%;
  float: left;
}

/* line 82, ../sass/_navigation.scss */
.cbp-spmenu-horizontal a {
  float: left;
  width: 20%;
  padding: 0.8em;
  border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */
/* line 91, ../sass/_navigation.scss */
.cbp-spmenu-left {
  left: -240px;
}

/* line 95, ../sass/_navigation.scss */
.cbp-spmenu-right {
  right: -240px;
}

/* line 99, ../sass/_navigation.scss */
.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
}

/* line 103, ../sass/_navigation.scss */
.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
}

/* Horizontal menu that slides from the top or bottom */
/* line 109, ../sass/_navigation.scss */
.cbp-spmenu-top {
  top: -150px;
}

/* line 113, ../sass/_navigation.scss */
.cbp-spmenu-bottom {
  bottom: -150px;
}

/* line 117, ../sass/_navigation.scss */
.cbp-spmenu-top.cbp-spmenu-open {
  top: 0px;
}

/* line 121, ../sass/_navigation.scss */
.cbp-spmenu-bottom.cbp-spmenu-open {
  bottom: 0px;
}

/* Push classes applied to the body */
/* line 127, ../sass/_navigation.scss */
.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

/* line 133, ../sass/_navigation.scss */
.cbp-spmenu-push-toright {
  left: 240px;
}

/* line 137, ../sass/_navigation.scss */
.cbp-spmenu-push-toleft {
  left: -240px;
}

/* Transitions */
/* line 144, ../sass/_navigation.scss */
.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Example media queries */
@media screen and (max-width: 55.1875em) {
  /* line 154, ../sass/_navigation.scss */
  .cbp-spmenu-horizontal {
    font-size: 75%;
    height: 110px;
  }

  /* line 159, ../sass/_navigation.scss */
  .cbp-spmenu-top {
    top: -110px;
  }

  /* line 163, ../sass/_navigation.scss */
  .cbp-spmenu-bottom {
    bottom: -110px;
  }
}
@media screen and (max-height: 26.375em) {
  /* line 171, ../sass/_navigation.scss */
  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px;
  }

  /* line 177, ../sass/_navigation.scss */
  .cbp-spmenu-left,
  .cbp-spmenu-push-toleft {
    left: -190px;
  }

  /* line 181, ../sass/_navigation.scss */
  .cbp-spmenu-right {
    right: -190px;
  }

  /* line 185, ../sass/_navigation.scss */
  .cbp-spmenu-push-toright {
    left: 190px;
  }
}
/* Animations */
/* line 3, ../sass/_animations.scss */
.left-fast {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: left-fast;
  -moz-animation-name: left-fast;
  animation-name: left-fast;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 8, ../sass/_animations.scss */
.right-fast {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: right-fast;
  -moz-animation-name: right-fast;
  animation-name: right-fast;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 12, ../sass/_animations.scss */
.roll-in-left {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: roll-in-left;
  -moz-animation-name: roll-in-left;
  animation-name: roll-in-left;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 16, ../sass/_animations.scss */
.up {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: up;
  -moz-animation-name: up;
  animation-name: up;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 20, ../sass/_animations.scss */
.down {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: down;
  -moz-animation-name: down;
  animation-name: down;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 24, ../sass/_animations.scss */
.fade-in {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: fade-in;
  -moz-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 28, ../sass/_animations.scss */
.delay {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* line 32, ../sass/_animations.scss */
.delay2 {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

/* KEYFRAMES */
@-webkit-keyframes left-fast {
  /* line 44, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 45, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-moz-keyframes left-fast {
  /* line 44, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 45, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-o-keyframes left-fast {
  /* line 44, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 45, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@keyframes left-fast {
  /* line 44, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 45, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-webkit-keyframes right-fast {
  /* line 49, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 50, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-moz-keyframes right-fast {
  /* line 49, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 50, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-o-keyframes right-fast {
  /* line 49, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 50, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@keyframes right-fast {
  /* line 49, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 50, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-webkit-keyframes roll-in-left {
  /* line 54, ../sass/_animations.scss */
  0% {
    opacity: 0;
    margin-left: -500px;
    -webkit-transform: rotateX(550deg);
  }

  /* line 55, ../sass/_animations.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes up {
  /* line 59, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 60, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@-moz-keyframes up {
  /* line 59, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 60, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@-o-keyframes up {
  /* line 59, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 60, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@keyframes up {
  /* line 59, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 60, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@-webkit-keyframes down {
  /* line 64, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 65, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@-moz-keyframes down {
  /* line 64, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 65, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@-o-keyframes down {
  /* line 64, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 65, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@keyframes down {
  /* line 64, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 65, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@-webkit-keyframes up-slow {
  /* line 69, ../sass/_animations.scss */
  from {
    top: 20px;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  to {
    top: 0;
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

@-moz-keyframes up-slow {
  /* line 69, ../sass/_animations.scss */
  from {
    top: 20px;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  to {
    top: 0;
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

@-o-keyframes up-slow {
  /* line 69, ../sass/_animations.scss */
  from {
    top: 20px;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  to {
    top: 0;
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

@keyframes up-slow {
  /* line 69, ../sass/_animations.scss */
  from {
    top: 20px;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  to {
    top: 0;
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

@-webkit-keyframes fade-in {
  /* line 74, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 75, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

@-moz-keyframes fade-in {
  /* line 74, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 75, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

@-o-keyframes fade-in {
  /* line 74, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 75, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

@keyframes fade-in {
  /* line 74, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 75, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

/* SENCHA ANIMATIONS */
/* Contact Form */
/* line 2, ../sass/_forms.scss */
.main-form {
  position: relative;
}

/* line 7, ../sass/_forms.scss */
.main-form:before,
.main-form:after {
  content: " ";
  display: table;
}

/* line 11, ../sass/_forms.scss */
.main-form:after {
  clear: both;
}

/* line 15, ../sass/_forms.scss */
.main-form label {
  display: block;
  padding: 10px 5px 5px 2px;
  font-size: 1.1em;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  color: #3c3c3c;
}

/* line 27, ../sass/_forms.scss */
.main-form input,
.main-form textarea,
.main-form select {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  font-size: 18px;
  padding: 2px 10px;
  color: #3c3c3c;
  display: block;
  width: 100%;
  background: #ebebeb;
}

/* line 39, ../sass/_forms.scss */
.main-form input,
.main-form textarea {
  border: 0px;
  border-radius: 0 !important;
  padding: 1em;
  box-shadow: none;
  height: 80px;
  border: solid 1px transparent;
}

/* line 48, ../sass/_forms.scss */
.main-form textarea {
  min-height: 200px;
}

/* line 55, ../sass/_forms.scss */
.main-form input:focus,
.main-form textarea:focus,
.main-form label:active + input,
.main-form label:active + textarea {
  outline: none;
  border: 1px solid #3c3c3c !important;
  box-shadow: none;
}

/* line 61, ../sass/_forms.scss */
.main-form select:focus {
  outline: none;
}

/* line 65, ../sass/_forms.scss */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #10689a;
  font-style: italic;
}

/* line 70, ../sass/_forms.scss */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #10689a;
  font-style: italic;
}

/* line 75, ../sass/_forms.scss */
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #10689a;
  font-style: italic;
}

/* line 80, ../sass/_forms.scss */
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #10689a;
  font-style: italic;
}

/* line 85, ../sass/_forms.scss */
.cbp-mc-submit-wrap {
  text-align: center;
  padding-top: 40px;
  clear: both;
}

/* line 91, ../sass/_forms.scss */
.main-form input.cbp-mc-submit {
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  background: #011f40;
  border: none;
  color: white;
  width: 100%;
  cursor: pointer;
  display: inline-block;
  padding: 1em 5em;
  font-size: 1.1em;
  letter-spacing: 1px;
  margin: 1em 0;
  font-weight: 100;
}

/* line 107, ../sass/_forms.scss */
.main-form input.cbp-mc-submit:hover {
  background: #fbad18;
}

/* line 111, ../sass/_forms.scss */
#nospam, .nospam {
  display: none;
}

/* line 115, ../sass/_forms.scss */
.thumbs {
  width: 47%;
  margin: 1%;
  float: left;
}
/* line 119, ../sass/_forms.scss */
.thumbs img {
  width: 100%;
}

/* line 1, ../sass/_smallest.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* RESPONSIVE IMAGES */
/* line 13, ../sass/_smallest.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 18, ../sass/_smallest.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* line 25, ../sass/_smallest.scss */
.lt-ie9 img {
  width: auto;
}

/* MAIN */
/* line 32, ../sass/_smallest.scss */
section {
  padding: 4em 2em;
}
/* line 34, ../sass/_smallest.scss */
section:after, section:before {
  display: table;
  line-height: 0;
  content: "";
}

/* line 41, ../sass/_smallest.scss */
.wrap {
  max-width: 940px;
  margin: auto;
}
/* line 44, ../sass/_smallest.scss */
.wrap:before, .wrap:after {
  content: "";
  display: table;
}
/* line 49, ../sass/_smallest.scss */
.wrap:after {
  clear: both;
}

/* line 56, ../sass/_smallest.scss */
.logo img {
  width: 150px;
}

/* line 60, ../sass/_smallest.scss */
.overlay {
  position: absolute;
  z-index: 1;
  width: 110%;
  height: 110%;
  top: 0;
  left: 0;
}

/* line 69, ../sass/_smallest.scss */
.hero {
  padding: 0;
}
/* line 71, ../sass/_smallest.scss */
.hero h1 {
  color: #fbad18;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  line-height: 1;
  min-height: 90px;
}
/* line 79, ../sass/_smallest.scss */
.hero h1 span {
  color: white;
  font-size: 18px;
  font-weight: 400;
}
/* line 85, ../sass/_smallest.scss */
.hero .contain {
  padding: 3em 2em;
  background-size: cover;
  background-position: center;
}

/* line 91, ../sass/_smallest.scss */
#showLeft {
  float: right;
  color: #3c3c3c;
  font-size: 24px;
  cursor: pointer;
  padding: 1em 0;
}

/* line 99, ../sass/_smallest.scss */
.content {
  z-index: 500;
  position: relative;
}

/* line 104, ../sass/_smallest.scss */
.capabilities {
  position: relative;
  padding: 0;
}
/* line 107, ../sass/_smallest.scss */
.capabilities .bug {
  padding: 21px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: none;
  position: absolute;
  z-index: 100;
  width: 213px;
  height: 213px;
  left: 50%;
  top: 50%;
  margin-top: -126.5px;
  margin-left: -106.5px;
  background: white;
}
/* line 120, ../sass/_smallest.scss */
.capabilities .bug span {
  font-size: 109px;
  padding: 31px 30px;
  border: solid 1px #ededed;
  display: inline-block;
  color: #ededed;
  -webkit-transition: 0.8s all;
  -moz-transition: 0.8s all;
  -ms-transition: 0.8s all;
  -o-transition: 0.8s all;
  transition: 0.8s all;
}
/* line 131, ../sass/_smallest.scss */
.capabilities ul {
  margin: 0;
}
/* line 134, ../sass/_smallest.scss */
.capabilities li {
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  background-size: cover;
  display: block;
}
/* line 137, ../sass/_smallest.scss */
.capabilities li .content {
  padding: 2em;
}
/* line 326, ../sass/_mixins.scss */
.capabilities li:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.capabilities li:nth-child(1n) {
  margin-right: 0;
  margin-bottom: 0;
}
/* line 146, ../sass/_smallest.scss */
.capabilities li h2 {
  -webkit-transition: 0.8s all;
  -moz-transition: 0.8s all;
  -ms-transition: 0.8s all;
  -o-transition: 0.8s all;
  transition: 0.8s all;
  margin: 0 0 10px 0;
  line-height: 1;
}
/* line 151, ../sass/_smallest.scss */
.capabilities li:nth-child(even) {
  text-align: right;
}
/* line 154, ../sass/_smallest.scss */
.capabilities li .overlay {
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  background-color: rgba(1, 31, 64, 0.64);
}
/* line 158, ../sass/_smallest.scss */
.capabilities li h2 {
  color: #fbad18;
}
/* line 161, ../sass/_smallest.scss */
.capabilities li p {
  position: relative;
  top: 20px;
  -webkit-transition: 0.8s all;
  -moz-transition: 0.8s all;
  -ms-transition: 0.8s all;
  -o-transition: 0.8s all;
  transition: 0.8s all;
  font-size: 14px;
  line-height: 1.4;
  color: white;
}

/* line 172, ../sass/_smallest.scss */
.slides {
  padding: 0;
  margin: 0;
}

/* line 177, ../sass/_smallest.scss */
.work {
  padding: 0;
}
/* line 179, ../sass/_smallest.scss */
.work .wrap {
  padding: 2em 2em 0;
}
/* line 182, ../sass/_smallest.scss */
.work li {
  background-size: cover;
  position: relative;
  float: left;
  width: 100%;
  overflow: hidden;
}
/* line 326, ../sass/_mixins.scss */
.work li:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.work li:nth-child(1n) {
  margin-right: 0;
  margin-bottom: 0;
}
/* line 190, ../sass/_smallest.scss */
.work li:hover .content h3, .work li:hover .content p {
  top: 0;
  opacity: 1;
  filter: alpha(opacity=1);
}
/* line 194, ../sass/_smallest.scss */
.work li:hover .content p {
  -webkit-transition-delay: .2s;
  /* Safari */
  transition-delay: .2s;
}
/* line 199, ../sass/_smallest.scss */
.work li:hover .overlay {
  background-color: rgba(1, 31, 64, 0.64);
}
/* line 204, ../sass/_smallest.scss */
.work .content {
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
  position: relative;
  padding: 5em;
  text-align: center;
}
/* line 212, ../sass/_smallest.scss */
.work .content h3 {
  font-size: 36px;
  color: #fbad18;
  margin: 0;
  font-weight: 300;
  top: 20px;
}
/* line 219, ../sass/_smallest.scss */
.work .content p {
  color: rgba(255, 255, 255, 0.7);
  font-style: italic;
  -webkit-transition-delay: 0;
  /* Safari */
  transition-delay: 0;
}
/* line 226, ../sass/_smallest.scss */
.work .overlay {
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
  background-color: rgba(1, 31, 64, 0.64);
}

/* line 232, ../sass/_smallest.scss */
.testimonials {
  background: url("/resources/img/testimonialBG.jpg") no-repeat;
  background-size: cover;
  padding: 2em;
  text-align: center;
  position: relative;
}
/* line 238, ../sass/_smallest.scss */
.testimonials .flex-control-nav {
  bottom: 20px;
  display: none;
}
/* line 242, ../sass/_smallest.scss */
.testimonials .flex-control-paging li a {
  width: 15px;
  height: 15px;
}
/* line 246, ../sass/_smallest.scss */
.testimonials .flex-control-paging li a.flex-active {
  background-color: #fbad18;
}
/* line 249, ../sass/_smallest.scss */
.testimonials .content {
  width: 100%;
  margin: auto;
  display: inline-block;
}
/* line 254, ../sass/_smallest.scss */
.testimonials p {
  font-size: 14px;
  color: white;
  display: inline;
  line-height: 1.4;
}
/* line 260, ../sass/_smallest.scss */
.testimonials p.byline {
  color: #fbad18;
  display: block;
  font-style: italic;
}
/* line 267, ../sass/_smallest.scss */
.testimonials .slides .content:before {
  content: '\201C';
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  color: #fbad18;
  font-weight: 800;
  position: absolute;
  top: 80px;
  left: -80px;
}

/* line 284, ../sass/_smallest.scss */
.clients {
  padding: 0;
}
/* line 286, ../sass/_smallest.scss */
.clients .wrap {
  padding: 2em;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: #ededed;
}

/* line 295, ../sass/_smallest.scss */
.about img {
  max-height: 412px;
}
/* line 298, ../sass/_smallest.scss */
.about h3 {
  color: #fbad18;
  font-size: 37px;
  font-style: italic;
  margin: 1em 0;
  font-weight: 400;
}
/* line 307, ../sass/_smallest.scss */
.about .span6:last-child {
  padding-top: 1em;
  border-top: 1px solid #ededed;
  margin-top: 1em;
}
/* line 314, ../sass/_smallest.scss */
.about .connect a {
  display: inline-block;
  font-size: 24px;
  color: #919191 !important;
  margin-right: .5em;
}
/* line 319, ../sass/_smallest.scss */
.about .connect a:hover {
  color: #fbad18 !important;
}

/* line 326, ../sass/_smallest.scss */
.mainnav {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  background: white;
  z-index: 1001;
  position: fixed;
  padding: 0 2em;
}
/* line 333, ../sass/_smallest.scss */
.mainnav .logo {
  padding: 1em 0;
  display: inline-block;
}

/* FOOTER */
/* line 341, ../sass/_smallest.scss */
footer {
  background: #2e2e2e;
  padding: 1em 2em;
}
/* line 344, ../sass/_smallest.scss */
footer p {
  color: white;
  font-size: 14px;
}

/* BUTTON */
/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
/* line 18, ../sass/_flexslider.scss */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

/* line 21, ../sass/_flexslider.scss */
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
  font-family: 'flexslider-icon';
  src: url("fonts/flexslider-icon.eot");
  src: url("fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("fonts/flexslider-icon.woff") format("woff"), url("fonts/flexslider-icon.ttf") format("truetype"), url("fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
/* line 39, ../sass/_flexslider.scss */
.flexslider {
  margin: 0;
  padding: 0;
}

/* line 40, ../sass/_flexslider.scss */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
/* line 41, ../sass/_flexslider.scss */
.flexslider .slides img {
  width: 100%;
  display: block;
}

/* line 42, ../sass/_flexslider.scss */
.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
/* line 45, ../sass/_flexslider.scss */
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 46, ../sass/_flexslider.scss */
html[xmlns] .slides {
  display: block;
}

/* line 47, ../sass/_flexslider.scss */
* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
/* line 52, ../sass/_flexslider.scss */
.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Default Theme
*********************************/
/* line 56, ../sass/_flexslider.scss */
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  zoom: 1;
}

/* line 57, ../sass/_flexslider.scss */
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 58, ../sass/_flexslider.scss */
.loading .flex-viewport {
  max-height: 300px;
}

/* line 59, ../sass/_flexslider.scss */
.flexslider .slides {
  zoom: 1;
}

/* line 60, ../sass/_flexslider.scss */
.carousel li {
  margin-right: 5px;
}

/* Direction Nav */
/* line 63, ../sass/_flexslider.scss */
.flex-direction-nav {
  *height: 0;
}

/* line 64, ../sass/_flexslider.scss */
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

/* line 65, ../sass/_flexslider.scss */
.flex-direction-nav .flex-prev {
  left: -50px;
}

/* line 66, ../sass/_flexslider.scss */
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}

/* line 67, ../sass/_flexslider.scss */
.flexslider:hover .flex-prev {
  opacity: 0.7;
  left: 10px;
}

/* line 68, ../sass/_flexslider.scss */
.flexslider:hover .flex-next {
  opacity: 0.7;
  right: 10px;
}

/* line 69, ../sass/_flexslider.scss */
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1;
}

/* line 70, ../sass/_flexslider.scss */
.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
}

/* line 71, ../sass/_flexslider.scss */
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
}

/* line 72, ../sass/_flexslider.scss */
.flex-direction-nav a.flex-next:before {
  content: '\f002';
}

/* Pause/Play */
/* line 75, ../sass/_flexslider.scss */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}

/* line 76, ../sass/_flexslider.scss */
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}

/* line 77, ../sass/_flexslider.scss */
.flex-pauseplay a:hover {
  opacity: 1;
}

/* line 78, ../sass/_flexslider.scss */
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}

/* Control Nav */
/* line 81, ../sass/_flexslider.scss */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}

/* line 82, ../sass/_flexslider.scss */
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 83, ../sass/_flexslider.scss */
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

/* line 84, ../sass/_flexslider.scss */
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}

/* line 85, ../sass/_flexslider.scss */
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}

/* line 87, ../sass/_flexslider.scss */
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}

/* line 88, ../sass/_flexslider.scss */
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}

/* line 89, ../sass/_flexslider.scss */
.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}

/* line 90, ../sass/_flexslider.scss */
.flex-control-thumbs img:hover {
  opacity: 1;
}

/* line 91, ../sass/_flexslider.scss */
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

@media screen and (max-width: 860px) {
  /* line 94, ../sass/_flexslider.scss */
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }

  /* line 95, ../sass/_flexslider.scss */
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
@media (min-width: 480px) {
  /* line 4, ../sass/_480.scss */
  .work li {
    width: 50%;
  }
  /* line 326, ../sass/_mixins.scss */
  .work li:nth-child(n) {
    margin-bottom: 0;
    margin-right: 0;
  }
  /* line 330, ../sass/_mixins.scss */
  .work li:nth-child(2n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  /* line 1, ../sass/_768.scss */
  section {
    padding: 4em 2em;
  }

  /* line 6, ../sass/_768.scss */
  .work .wrap {
    padding: 4em 0;
  }

  /* line 12, ../sass/_768.scss */
  footer {
    padding: 2em 2em;
  }

  /* line 17, ../sass/_768.scss */
  .clients .wrap {
    padding: 4em 2em;
  }

  /* line 25, ../sass/_768.scss */
  .hero h1 {
    font-size: 60px;
    max-height: 707px;
  }
  /* line 28, ../sass/_768.scss */
  .hero h1 span {
    font-size: 35px;
  }
  /* line 32, ../sass/_768.scss */
  .hero .contain {
    padding: 6em 2em;
    background-size: cover;
  }

  /* line 40, ../sass/_768.scss */
  .capabilities .content {
    min-height: 230px;
  }
  /* line 43, ../sass/_768.scss */
  .capabilities li {
    width: 50%;
  }
  /* line 44, ../sass/_768.scss */
  .capabilities li .overlay {
    background-color: rgba(0, 0, 0, 0.6);
  }
  /* line 326, ../sass/_mixins.scss */
  .capabilities li:nth-child(n) {
    margin-bottom: 0;
    margin-right: 0;
  }
  /* line 330, ../sass/_mixins.scss */
  .capabilities li:nth-child(2n) {
    margin-right: 0;
    margin-bottom: 0;
  }
  /* line 49, ../sass/_768.scss */
  .capabilities li:nth-child(3n+2) .overlay {
    background-color: rgba(1, 31, 64, 0.4);
  }

  /* line 61, ../sass/_768.scss */
  .testimonials {
    padding: 6em 0;
  }
  /* line 63, ../sass/_768.scss */
  .testimonials .content {
    width: 70%;
  }
  /* line 66, ../sass/_768.scss */
  .testimonials .flex-control-nav {
    display: block;
  }
  /* line 69, ../sass/_768.scss */
  .testimonials p {
    font-size: 25px;
  }
  /* line 72, ../sass/_768.scss */
  .testimonials .byline {
    font-size: 18px;
    line-height: 1;
  }
  /* line 78, ../sass/_768.scss */
  .testimonials .slides .content:before {
    font-size: 220px;
  }

  /* line 87, ../sass/_768.scss */
  .about .span6:last-child {
    padding: 0;
    margin-top: 0;
    border: 0;
  }
}
@media (min-width: 1025px) {
  /* line 1, ../sass/_1025.scss */
  .work {
    padding: 0;
  }
  /* line 3, ../sass/_1025.scss */
  .work .wrap {
    padding: 2em 2em 0;
  }
  /* line 6, ../sass/_1025.scss */
  .work li {
    background-size: cover;
    position: relative;
    float: left;
    width: 33.33333%;
    overflow: hidden;
  }
  /* line 326, ../sass/_mixins.scss */
  .work li:nth-child(n) {
    margin-bottom: 0;
    margin-right: 0;
  }
  /* line 330, ../sass/_mixins.scss */
  .work li:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 0;
  }
  /* line 14, ../sass/_1025.scss */
  .work li:hover .content h3, .work li:hover .content p {
    top: 0;
    opacity: 1;
    filter: alpha(opacity=1);
  }
  /* line 18, ../sass/_1025.scss */
  .work li:hover .content p {
    -webkit-transition-delay: .2s;
    /* Safari */
    transition-delay: .2s;
  }
  /* line 23, ../sass/_1025.scss */
  .work li:hover .overlay {
    background-color: rgba(1, 31, 64, 0.64);
  }
  /* line 28, ../sass/_1025.scss */
  .work .content {
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    -ms-transition: 0.4s all;
    -o-transition: 0.4s all;
    transition: 0.4s all;
    position: relative;
    padding: 7em 5em;
    text-align: center;
  }
  /* line 33, ../sass/_1025.scss */
  .work .content h3, .work .content p {
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    -ms-transition: 0.4s all;
    -o-transition: 0.4s all;
    transition: 0.4s all;
    opacity: 0;
    filter: alpha(opacity=0);
    position: relative;
  }
  /* line 39, ../sass/_1025.scss */
  .work .content h3 {
    font-size: 36px;
    color: #fbad18;
    margin: 0;
    font-weight: 300;
    top: 20px;
  }
  /* line 46, ../sass/_1025.scss */
  .work .content p {
    top: 20px;
    color: rgba(255, 255, 255, 0.7);
    font-style: italic;
    -webkit-transition-delay: 0;
    /* Safari */
    transition-delay: 0;
  }
  /* line 54, ../sass/_1025.scss */
  .work .overlay {
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    -ms-transition: 0.4s all;
    -o-transition: 0.4s all;
    transition: 0.4s all;
    background-color: rgba(251, 173, 24, 0.4);
  }

  /* line 60, ../sass/_1025.scss */
  .capabilities {
    position: relative;
    padding: 0;
  }
  /* line 63, ../sass/_1025.scss */
  .capabilities .bug {
    display: inline-block;
  }
  /* line 65, ../sass/_1025.scss */
  .capabilities .bug span {
    font-size: 109px;
    padding: 31px 30px;
    border: solid 1px #ededed;
    display: inline-block;
    color: #ededed;
    -webkit-transition: 0.8s all;
    -moz-transition: 0.8s all;
    -ms-transition: 0.8s all;
    -o-transition: 0.8s all;
    transition: 0.8s all;
  }
  /* line 76, ../sass/_1025.scss */
  .capabilities ul {
    margin: 0;
  }
  /* line 79, ../sass/_1025.scss */
  .capabilities li {
    width: 50%;
    float: left;
    overflow: hidden;
    position: relative;
    background-size: cover;
    display: block;
  }
  /* line 81, ../sass/_1025.scss */
  .capabilities li:nth-child(odd) .overlay {
    background-color: rgba(255, 255, 255, 0.9);
  }
  /* line 86, ../sass/_1025.scss */
  .capabilities li:nth-child(even) .overlay {
    background-color: rgba(255, 255, 255, 0.9);
  }
  /* line 91, ../sass/_1025.scss */
  .capabilities li .content {
    padding: 2em 8.5em;
    min-height: 276px;
  }
  /* line 326, ../sass/_mixins.scss */
  .capabilities li:nth-child(n) {
    margin-bottom: 0;
    margin-right: 0;
  }
  /* line 330, ../sass/_mixins.scss */
  .capabilities li:nth-child(2n) {
    margin-right: 0;
    margin-bottom: 0;
  }
  /* line 101, ../sass/_1025.scss */
  .capabilities li h2 {
    -webkit-transition: 0.8s all;
    -moz-transition: 0.8s all;
    -ms-transition: 0.8s all;
    -o-transition: 0.8s all;
    transition: 0.8s all;
    color: #3c3c3c;
  }
  /* line 105, ../sass/_1025.scss */
  .capabilities li:nth-child(even) {
    text-align: right;
  }
  /* line 108, ../sass/_1025.scss */
  .capabilities li .overlay {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
  }
  /* line 112, ../sass/_1025.scss */
  .capabilities li p {
    position: relative;
    opacity: 0;
    filter: alpha(opacity=0);
    top: 20px;
    -webkit-transition: 0.8s all;
    -moz-transition: 0.8s all;
    -ms-transition: 0.8s all;
    -o-transition: 0.8s all;
    transition: 0.8s all;
    font-size: 16px;
    min-height: 110px;
  }
  /* line 121, ../sass/_1025.scss */
  .capabilities li:hover .overlay {
    background-color: rgba(1, 31, 64, 0.64);
  }
  /* line 125, ../sass/_1025.scss */
  .capabilities li:hover p {
    opacity: 1;
    filter: alpha(opacity=1);
    top: 0;
    color: white;
  }
  /* line 130, ../sass/_1025.scss */
  .capabilities li:hover h2 {
    color: #fbad18;
  }
  /* line 134, ../sass/_1025.scss */
  .capabilities li:hover .bug span {
    color: #fbad18;
  }

  /* line 143, ../sass/_1025.scss */
  .logo img {
    width: 250px;
  }

  /* line 149, ../sass/_1025.scss */
  .hero .contain {
    padding: 8em 0;
  }
}
/* @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  @import "2x";
} */
