/* line 26, ../sass/_mixins.scss */
.cf:before,
.cf:after {
  *zoom: 1;
}
/* line 28, ../sass/_mixins.scss */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
/* line 32, ../sass/_mixins.scss */
.cf:after {
  clear: both;
}

/* Fluid Grid
-----------------
*/
/* line 19, ../sass/_grid.scss */
body {
  width: 100%;
  float: left;
}

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 18, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 20, ../sass/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 21, ../sass/_reset.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 33, ../sass/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 35, ../sass/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 37, ../sass/_reset.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* =============================================================================
   Links
   ========================================================================== */
/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 54, ../sass/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 61, ../sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 63, ../sass/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 65, ../sass/_reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 67, ../sass/_reset.scss */
dfn {
  font-style: italic;
}

/* line 69, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 71, ../sass/_reset.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 73, ../sass/_reset.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 76, ../sass/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 79, ../sass/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 81, ../sass/_reset.scss */
q {
  quotes: none;
}

/* line 82, ../sass/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 84, ../sass/_reset.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 87, ../sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 88, ../sass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 89, ../sass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 96, ../sass/_reset.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 97, ../sass/_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 98, ../sass/_reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 110, ../sass/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 116, ../sass/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 123, ../sass/_reset.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 130, ../sass/_reset.scss */
form {
  margin: 0;
}

/* line 131, ../sass/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 134, ../sass/_reset.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 141, ../sass/_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 149, ../sass/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 155, ../sass/_reset.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 163, ../sass/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 169, ../sass/_reset.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
/* line 175, ../sass/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 176, ../sass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 177, ../sass/_reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 183, ../sass/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 190, ../sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 194, ../sass/_reset.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 201, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 202, ../sass/_reset.scss */
td {
  vertical-align: top;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 210, ../sass/_reset.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 211, ../sass/_reset.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 214, ../sass/_reset.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 217, ../sass/_reset.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 220, ../sass/_reset.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 223, ../sass/_reset.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 226, ../sass/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 227, ../sass/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 228, ../sass/_reset.scss */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 236, ../sass/_reset.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 237, ../sass/_reset.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 238, ../sass/_reset.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 239, ../sass/_reset.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 240, ../sass/_reset.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 241, ../sass/_reset.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 242, ../sass/_reset.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 243, ../sass/_reset.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 244, ../sass/_reset.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 246, ../sass/_reset.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 247, ../sass/_reset.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../sass/_smallest.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* RESPONSIVE IMAGES */
/* line 13, ../sass/_smallest.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 18, ../sass/_smallest.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* line 25, ../sass/_smallest.scss */
.lt-ie9 img {
  width: auto;
}

/* MAIN */
/* line 32, ../sass/_smallest.scss */
section {
  padding: 4em 2em;
}
/* line 34, ../sass/_smallest.scss */
section:after, section:before {
  display: table;
  line-height: 0;
  content: "";
}

/* line 41, ../sass/_smallest.scss */
.wrap {
  max-width: 940px;
  margin: auto;
}
/* line 44, ../sass/_smallest.scss */
.wrap:before, .wrap:after {
  content: "";
  display: table;
}
/* line 49, ../sass/_smallest.scss */
.wrap:after {
  clear: both;
}

/* line 56, ../sass/_smallest.scss */
.logo img {
  width: 150px;
}

/* line 60, ../sass/_smallest.scss */
.overlay {
  position: absolute;
  z-index: 1;
  width: 110%;
  height: 110%;
  top: 0;
  left: 0;
}

/* line 69, ../sass/_smallest.scss */
.hero {
  padding: 0;
}
/* line 71, ../sass/_smallest.scss */
.hero h1 {
  color: #fbad18;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  line-height: 1;
  min-height: 90px;
}
/* line 79, ../sass/_smallest.scss */
.hero h1 span {
  color: white;
  font-size: 18px;
  font-weight: 400;
}
/* line 85, ../sass/_smallest.scss */
.hero .contain {
  padding: 3em 2em;
  background-size: cover;
  background-position: center;
}

/* line 91, ../sass/_smallest.scss */
#showLeft {
  float: right;
  color: #3c3c3c;
  font-size: 24px;
  cursor: pointer;
  padding: 1em 0;
}

/* line 99, ../sass/_smallest.scss */
.content {
  z-index: 500;
  position: relative;
}

/* line 104, ../sass/_smallest.scss */
.capabilities {
  position: relative;
  padding: 0;
}
/* line 107, ../sass/_smallest.scss */
.capabilities .bug {
  padding: 21px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: none;
  position: absolute;
  z-index: 100;
  width: 213px;
  height: 213px;
  left: 50%;
  top: 50%;
  margin-top: -126.5px;
  margin-left: -106.5px;
  background: white;
}
/* line 120, ../sass/_smallest.scss */
.capabilities .bug span {
  font-size: 109px;
  padding: 31px 30px;
  border: solid 1px #ededed;
  display: inline-block;
  color: #ededed;
  -webkit-transition: 0.8s all;
  -moz-transition: 0.8s all;
  -ms-transition: 0.8s all;
  -o-transition: 0.8s all;
  transition: 0.8s all;
}
/* line 131, ../sass/_smallest.scss */
.capabilities ul {
  margin: 0;
}
/* line 134, ../sass/_smallest.scss */
.capabilities li {
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  background-size: cover;
  display: block;
}
/* line 137, ../sass/_smallest.scss */
.capabilities li .content {
  padding: 2em;
}
/* line 326, ../sass/_mixins.scss */
.capabilities li:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.capabilities li:nth-child(1n) {
  margin-right: 0;
  margin-bottom: 0;
}
/* line 146, ../sass/_smallest.scss */
.capabilities li h2 {
  -webkit-transition: 0.8s all;
  -moz-transition: 0.8s all;
  -ms-transition: 0.8s all;
  -o-transition: 0.8s all;
  transition: 0.8s all;
  margin: 0 0 10px 0;
  line-height: 1;
}
/* line 151, ../sass/_smallest.scss */
.capabilities li:nth-child(even) {
  text-align: right;
}
/* line 154, ../sass/_smallest.scss */
.capabilities li .overlay {
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  background-color: rgba(1, 31, 64, 0.64);
}
/* line 158, ../sass/_smallest.scss */
.capabilities li h2 {
  color: #fbad18;
}
/* line 161, ../sass/_smallest.scss */
.capabilities li p {
  position: relative;
  top: 20px;
  -webkit-transition: 0.8s all;
  -moz-transition: 0.8s all;
  -ms-transition: 0.8s all;
  -o-transition: 0.8s all;
  transition: 0.8s all;
  font-size: 14px;
  line-height: 1.4;
  color: white;
}

/* line 172, ../sass/_smallest.scss */
.slides {
  padding: 0;
  margin: 0;
}

/* line 177, ../sass/_smallest.scss */
.work {
  padding: 0;
}
/* line 179, ../sass/_smallest.scss */
.work .wrap {
  padding: 2em 2em 0;
}
/* line 182, ../sass/_smallest.scss */
.work li {
  background-size: cover;
  position: relative;
  float: left;
  width: 100%;
  overflow: hidden;
}
/* line 326, ../sass/_mixins.scss */
.work li:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.work li:nth-child(1n) {
  margin-right: 0;
  margin-bottom: 0;
}
/* line 190, ../sass/_smallest.scss */
.work li:hover .content h3, .work li:hover .content p {
  top: 0;
  opacity: 1;
  filter: alpha(opacity=1);
}
/* line 194, ../sass/_smallest.scss */
.work li:hover .content p {
  -webkit-transition-delay: .2s;
  /* Safari */
  transition-delay: .2s;
}
/* line 199, ../sass/_smallest.scss */
.work li:hover .overlay {
  background-color: rgba(1, 31, 64, 0.64);
}
/* line 204, ../sass/_smallest.scss */
.work .content {
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
  position: relative;
  padding: 5em;
  text-align: center;
}
/* line 212, ../sass/_smallest.scss */
.work .content h3 {
  font-size: 36px;
  color: #fbad18;
  margin: 0;
  font-weight: 300;
  top: 20px;
}
/* line 219, ../sass/_smallest.scss */
.work .content p {
  color: rgba(255, 255, 255, 0.7);
  font-style: italic;
  -webkit-transition-delay: 0;
  /* Safari */
  transition-delay: 0;
}
/* line 226, ../sass/_smallest.scss */
.work .overlay {
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
  background-color: rgba(1, 31, 64, 0.64);
}

/* line 232, ../sass/_smallest.scss */
.testimonials {
  background: url("/resources/img/testimonialBG.jpg") no-repeat;
  background-size: cover;
  padding: 2em;
  text-align: center;
  position: relative;
}
/* line 238, ../sass/_smallest.scss */
.testimonials .flex-control-nav {
  bottom: 20px;
  display: none;
}
/* line 242, ../sass/_smallest.scss */
.testimonials .flex-control-paging li a {
  width: 15px;
  height: 15px;
}
/* line 246, ../sass/_smallest.scss */
.testimonials .flex-control-paging li a.flex-active {
  background-color: #fbad18;
}
/* line 249, ../sass/_smallest.scss */
.testimonials .content {
  width: 100%;
  margin: auto;
  display: inline-block;
}
/* line 254, ../sass/_smallest.scss */
.testimonials p {
  font-size: 14px;
  color: white;
  display: inline;
  line-height: 1.4;
}
/* line 260, ../sass/_smallest.scss */
.testimonials p.byline {
  color: #fbad18;
  display: block;
  font-style: italic;
}
/* line 267, ../sass/_smallest.scss */
.testimonials .slides .content:before {
  content: '\201C';
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  color: #fbad18;
  font-weight: 800;
  position: absolute;
  top: 80px;
  left: -80px;
}

/* line 284, ../sass/_smallest.scss */
.clients {
  padding: 0;
}
/* line 286, ../sass/_smallest.scss */
.clients .wrap {
  padding: 2em;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: #ededed;
}

/* line 295, ../sass/_smallest.scss */
.about img {
  max-height: 412px;
}
/* line 298, ../sass/_smallest.scss */
.about h3 {
  color: #fbad18;
  font-size: 37px;
  font-style: italic;
  margin: 1em 0;
  font-weight: 400;
}
/* line 307, ../sass/_smallest.scss */
.about .span6:last-child {
  padding-top: 1em;
  border-top: 1px solid #ededed;
  margin-top: 1em;
}
/* line 314, ../sass/_smallest.scss */
.about .connect a {
  display: inline-block;
  font-size: 24px;
  color: #919191 !important;
  margin-right: .5em;
}
/* line 319, ../sass/_smallest.scss */
.about .connect a:hover {
  color: #fbad18 !important;
}

/* line 326, ../sass/_smallest.scss */
.mainnav {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  background: white;
  z-index: 1001;
  position: fixed;
  padding: 0 2em;
}
/* line 333, ../sass/_smallest.scss */
.mainnav .logo {
  padding: 1em 0;
  display: inline-block;
}

/* FOOTER */
/* line 341, ../sass/_smallest.scss */
footer {
  background: #2e2e2e;
  padding: 1em 2em;
}
/* line 344, ../sass/_smallest.scss */
footer p {
  color: white;
  font-size: 14px;
}

/* BUTTON */
/* line 4, ../sass/_480.scss */
.work li {
  width: 50%;
}
/* line 326, ../sass/_mixins.scss */
.work li:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.work li:nth-child(2n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* line 1, ../sass/_768.scss */
section {
  padding: 4em 2em;
}

/* line 6, ../sass/_768.scss */
.work .wrap {
  padding: 4em 0;
}

/* line 12, ../sass/_768.scss */
footer {
  padding: 2em 2em;
}

/* line 17, ../sass/_768.scss */
.clients .wrap {
  padding: 4em 2em;
}

/* line 25, ../sass/_768.scss */
.hero h1 {
  font-size: 60px;
  max-height: 707px;
}
/* line 28, ../sass/_768.scss */
.hero h1 span {
  font-size: 35px;
}
/* line 32, ../sass/_768.scss */
.hero .contain {
  padding: 6em 2em;
  background-size: cover;
}

/* line 40, ../sass/_768.scss */
.capabilities .content {
  min-height: 230px;
}
/* line 43, ../sass/_768.scss */
.capabilities li {
  width: 50%;
}
/* line 44, ../sass/_768.scss */
.capabilities li .overlay {
  background-color: rgba(0, 0, 0, 0.6);
}
/* line 326, ../sass/_mixins.scss */
.capabilities li:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.capabilities li:nth-child(2n) {
  margin-right: 0;
  margin-bottom: 0;
}
/* line 49, ../sass/_768.scss */
.capabilities li:nth-child(3n+2) .overlay {
  background-color: rgba(1, 31, 64, 0.4);
}

/* line 61, ../sass/_768.scss */
.testimonials {
  padding: 6em 0;
}
/* line 63, ../sass/_768.scss */
.testimonials .content {
  width: 70%;
}
/* line 66, ../sass/_768.scss */
.testimonials .flex-control-nav {
  display: block;
}
/* line 69, ../sass/_768.scss */
.testimonials p {
  font-size: 25px;
}
/* line 72, ../sass/_768.scss */
.testimonials .byline {
  font-size: 18px;
  line-height: 1;
}
/* line 78, ../sass/_768.scss */
.testimonials .slides .content:before {
  font-size: 220px;
}

/* line 87, ../sass/_768.scss */
.about .span6:last-child {
  padding: 0;
  margin-top: 0;
  border: 0;
}
